<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YouTubeTrendingOutliers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YouTubeTrendingOutliers.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-md position-md-absolute w-100 border-top border-4 border-primary">
        <a class="logo" href="#">
            <div class="logo-circle">
                <span class="logo-letter">WB</span>
            </div>
            <span class="logo-text">WhiteBoard Tools</span>
        </a>

        <div class="user-nav">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <span class="nav-link">Hello, @User.Identity.Name</span>
            }
            <a class="nav-link warning-link" asp-controller="Auth" asp-action="Logout">Logout</a>
        </div>
    </nav>
        <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
        </main>
    

    <footer class="d-flex justify-content-center align-items-center">
        &copy; @DateTime.Now.Year - YouTube Topic Explorer | Built with 💜
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
